<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


  <title>
    {% block title %}

    {% endblock title%}
  </title>
</head>
<body style = "min-height: 75rem; padding-top: 4.5rem;">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <div class="container border-bottom border-success">
      <a class="navbar-brand" href="#">
        <!-- <svg class="bi bi-diamond-half text-success" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 .989c.127 0 .253.049.35.145l6.516 6.516a.495.495 0 0 1 0 .7L8.35 14.866a.493.493 0 0 1-.35.145V.989z"/>
        </svg> -->
        <img src="{% static 'logo.png'%}" height="30em" weight="30em" alt="Brand Logo" class="d-inline-block align-top" loading="lazy">
        Product <strong class="text-success">Hunt</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto ">
          <a class="nav-item nav-link mr-4" href="#">Sign Up</a>
          <a class="nav-item nav-link" href="#">Login</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="conatiner">
    {% block content %}

    {% endblock content %}
  </div>
  <footer class="text-muted ">
    <div class="container text-center pt-3 border-top border-success">
      <p>© <strong class="text-success">Product Hunt</strong> {% now 'Y' %}</p>
      <p>Powered by <strong class="text-success">Zeeshan Arshad</strong></p>
    </div>
  </footer>
</body>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>
